In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [27]:
calorie = pd.read_csv('calories.csv')
exercise = pd.read_csv('exercise.csv')

In [28]:
df = exercise.join(calorie.set_index('User_ID'), on='User_ID', how='left')
df

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20,193.0,86.0,11.0,92.0,40.4,45.0
14996,17212577,female,27,165.0,65.0,6.0,85.0,39.2,23.0
14997,17271188,female,43,159.0,58.0,16.0,90.0,40.1,75.0
14998,18643037,male,78,193.0,97.0,2.0,84.0,38.3,11.0
14999,11751526,male,63,173.0,79.0,18.0,92.0,40.5,98.0

In [29]:
df['Gender'] = df['Gender'].replace(to_replace=["male", "female"], value=[0, 1])

C:\Users\amrji\AppData\Local\Temp\ipykernel_29592\3286861097.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'] = df['Gender'].replace(to_replace=["male", "female"], value=[0, 1])

In [30]:
df.dtypes

User_ID         int64
Gender          int64
Age             int64
Height        float64
Weight        float64
Duration      float64
Heart_Rate    float64
Body_Temp     float64
Calories      float64
dtype: object

In [31]:
x = df[['Gender', 'Age', 'Height', 'Weight', 'Duration']]
y = df[['Heart_Rate', 'Body_Temp', 'Calories']]

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [33]:
print(y_train)

       Heart_Rate  Body_Temp  Calories
9839         81.0       39.5      17.0
9680        110.0       40.5     167.0
7093         88.0       40.1      40.0
11293        77.0       39.5      34.0
820          90.0       39.0      23.0
...           ...        ...       ...
5191        104.0       40.6     151.0
13418       104.0       40.7     114.0
5390         90.0       39.5      41.0
860          97.0       40.2      57.0
7270         91.0       40.5      59.0

[12000 rows x 3 columns]

In [34]:
model = KNeighborsRegressor(n_neighbors=15)

model.fit(x_train, y_train)

print(model.score(x_test, y_test))

ans = model.predict([[0, 69, 165, 55, 30]])
print(*ans)

0.8551755199383861
[107.06666667  40.78666667 193.        ]

C:\Users\amrji\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [35]:
y_pred = model.predict(x_test)
y_pred

array([[105.26666667,  40.80666667, 172.6       ],
       [105.13333333,  40.74      , 157.13333333],
       [ 92.86666667,  39.8       ,  57.46666667],
       ...,
       [ 99.86666667,  40.62      , 114.53333333],
       [ 86.26666667,  38.94666667,  19.33333333],
       [108.13333333,  40.80666667, 175.73333333]])

In [36]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("r2 score:", r2)

Mean Squared Error: 70.5385385827159
Mean Absolute Error: 4.714942962962959
r2 score: 0.8551755199383861

In [37]:
import joblib
joblib.dump(model, "Calories_burnt.pkl")

['Calories_burnt.pkl']